@if (IsSectionDefined("MAP_PAGE") && IsSectionDefined("MAP_PAGE_SCRIPTS"))
{
    @RenderSection("MAP_PAGE", required: false)
    @RenderSection("MAP_PAGE_SCRIPTS", required: false)
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    @RenderSection("Styles", required: false)
</head>
<body>
    <header>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
       
    </footer>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
